<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WixExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WixExporter.Properties.Settings>
            <setting name="ParamTitle" serializeAs="String">
                <value>Характеристики</value>
            </setting>
            <setting name="Sources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\sandboxes\Wix\Downloads\test.xml</string>
                        <string>D:\sandboxes\Wix\Downloads\test2.xml</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>10000</value>
            </setting>
        </WixExporter.Properties.Settings>
    </userSettings>
</configuration>
